* {
    font-family: arial;
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    width: 100%;
    background-color: #000;
    display: flex;
    float: left;
   
}

.container{
    background-image: linear-gradient(#94bbe9,#eeaeca);
    height: 700px;
    width: 75%;
    
}

.vector{
    position: absolute;
    left: 30px;
    top: 38px;
} 

#ingresar-texto{
    position: relative;
    left: 100px;
    top: 50px;
    border: none;
    font-size: 20px;
    width: 800px;
    height: 490px;
    
}


.texto1{
    position: relative;
    bottom: 465px;
    right: 375px;
    font-size: 20px;
    font-weight: bold;
    
}

.boton-encriptar{
    position: absolute;
    top: 600px;
    font-size: 20px;
    width: 150px;
    left: 150px;
    border-radius: 70px;
    background-image: linear-gradient(#94bbe9,#eeaeca);

}

.boton-desencriptar{
    position: absolute;
    top: 600px;
    font-size: 20px;
    width: 150px;
    left: 350px;
    border-radius: 70px;
}

.boton-desencriptar:hover{
    background-image: linear-gradient(#94bbe9,#eeaeca);
}

section{
    width: 750px;
    height: 450px;
    float: left;
    margin-top: 10px;

}

.vector1, .vector2{
    position: absolute;
    top: 570px;
    left: 150px; 
}

.vector2{
    left: 170px; 
}



.elaside span{
    display: none;
}

aside{
     
     width: 20%;
     height: 690px;
     /* position: relative;
     left: 500px; */
     float: left;
     margin-top: 10px;
     margin-left: 15px;
     background-image: linear-gradient(#94bbe9,#eeaeca);
}

#salida {
    border: solid grey;
    width: 85%;
    height: 100px;
    border: none;
    float: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    display: block;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}

#salida:active {
    cursor: none;
}

#salida::placeholder {
    color: #000;
    text-align: center;
    
}

#salida:focus {
    outline: none;
}

#salida::-moz-selection{
    background-color: transparent;
}

#salida::selection {
    background-color: transparent;
}

.imagen-aside{
    position: relative;
    top: 130px;
    left: 30px;
    
}
h2 {
    position: relative;
    top: 430px;
    text-align: center;
}
.ultimo-text{
    position: relative;
    top: 170px;
    text-align: center;
}

.btn-copiar {
    display: block;
    background-image: linear-gradient(#94bbe9,#eeaeca);
    margin: 1rem auto;
    border-radius: 1rem;
    position: relative;
    font-size: 20px;
    width:100px;
    top: 213px;
}

.btn-copiar::after{
    position: absolute;
    content: url(/Encriptador/img/copy.svg);
    padding: 0 1rem;
    filter: invert(100%);
}

.btn-copiar:hover {
    cursor: pointer;
    background-color: #212121;
    border: 1px solid rgb(255, 255, 255);
    filter: invert(100%);
}



.footer {
    position: absolute;
    bottom: -167px;
    width: 100%;
    height: 80px;
    /* background-color: transparent; */
    background-image: url(./620-6200528_get-in-touch-at-infocoveidentity-footer-background-image.png);
    margin: 10rem 0 0 0;
}

.texto-footer {
    color: black;
    font-size: 1.5rem;
    height: 40px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
} 

@media screen and (min-width: 1024px) and (max-width: 1600px ){
    .container{
        width: 941px;
         height: 815px;
    }

    aside{
        width: 250px;
        height: 815px; 
    }

    .footer{
        background-image: none;
    }
    .texto-footer{
        font-size: 15px;
        left: 20px;
        position: relative;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px ){
    .container{
        width: 941px;
         height: 815px;
    }
    #ingresar-texto{
        width: 600px;
    }

    .texto1{
        left: -274px;
       
    }
    aside{
        width: 260px;
        height: 815px; 
    }

    .footer{
        background-image: none;
    }
    .texto-footer{
        font-size: 15px;
        left: 20px;
        position: relative;
    }

}



@media screen and (min-width: 480px) and (max-width: 768px ){
   .container{
       width: 520px;
       height: 815px;
     
   }

   #ingresar-texto{
    width: 355px;
    left: 69px;
    height: 523px;
   }

   .texto1{
    left: -177px;
    bottom: 494px;
   }

   .vector{
       width: 20px;
   }

   .vector1{
       top: 625px;
       left: 85px;
   }

   .vector2{
       left: 113px;
       top: 625px;
   }

   .boton-encriptar{
       left: 100px;
       top: 668px;
   }

   .boton-desencriptar{
       left: 276px;
       top: 668px;
   }

   aside{
       width: 199px;
       height: 815px; 
   }

   #salida{
    height: 100px;
   }

   .btn-copiar{
       top: 262px;
   }

   .ultimo-text{
       top: 233px;
   }

   .imagen-aside{
       top: 216px;
       left: 9px;
   }
   
   .footer{
    background-image: none;
}
.texto-footer{
    font-size: 15px;
    left: 20px;
    position: relative;
}

   
}

@media screen and (min-width: 320px) and (max-width: 480px ){

    .container{
        margin: 0;
        position: absolute;
        width: 100%;
        height: 181%;
        background: linear-gradient(#E5E5E5, #6483aa);
        background-image: radial-gradient(circle at 50% -20.71%, #ffffa1 0, #f5ffa0 6.25%, #e4ffa0 12.5%, #d2ffa1 18.75%, #bdffa3 25%, #a7fda6 31.25%, #8cfaaa 37.5%, #6cf7af 43.75%, #3cf2b5 50%, #00edbc 56.25%, #00e8c6 62.5%, #00e4d0 68.75%, #00dfdc 75%, #00dbe9 81.25%, #00d7f5 87.5%, #00d3ff 93.75%, #00d0ff 100%);    }

    aside{
        margin-top: 500px;
        background: #000;
    }
    .boton-encriptar {
        left: 80px;
        top: 550px;
        width: 121px;
    }

    .boton-desencriptar {
        width: 130px;
        margin-top: -50px;
        top: 601px;
        left: 224px;
    }

    #salida {
        
        width: 423%;
        margin-top: 330px;
        position: relative;
        left: 16px;
        height: 374px;

    }

    .imagen-aside{
        top: -585px;
        left: 127px;
    }
    #ingresar-texto {
        color: #0A3871;
        padding: 1%;
        font-size: 15px;
        resize: none;
        width: 78%;
        left: 57px;
        height: 90%;
        box-shadow: 5px 5px 5px 5px black;
        margin: 1%;
        border: none;
        outline: none;
        background: inherit;
    }
   .vector {
       height: 38px;
   }

   .vector1{
    left: 114px;
    z-index: 1;
    top: 511px;   }

   .vector2{
    left: 144px;
    font-size: 12px;
    color: black;
    top: 513px;
    z-index: 1;
   }

   .texto1{
    color: black;
    position: absolute;
    right: 114px;
    top: 18px;
   }

   .btn-copiar{
    position: absolute;
    width: 158px;
    height: 40px;
    top: 1209px;
    left: 145px;
   }

.texto-footer{
    font-size: 17px;
}
  .footer{
    position: relative;
    bottom: -1238px;
    left: -88px;
    background-image: none;
  }
  .ultimo-text{
   display: none;
  }
}